
/* https://icolorpalette.com/color/39c  */
:root {
    --md-primary-fg-color:        #39c;
  --md-primary-fg-color--light: #6cb5da;
  --md-primary-fg-color--dark:  #184961;

  /*
    --md-primary-fg-color:    #184961;
  */

}


.md-tabs__link {
    font-size: 18px;
}

.md-header-nav__topic{
    font-size: 30px;
}

/* .jp-RenderedHTMLCommon p { */
/*       font-size: .8rem; */
/*       line-height: 1.6; */
/*   } */



.md-header-nav__button.md-logo {
    padding:0;
    margin:0;
    margin-top: auto;
    margin-bottom: auto;
}


.md-header-nav__button.md-logo img {
    width: 1.5rem;
    height: 1.5rem;
}


@keyframes atom {
    0%, 40%, 80%, 100% {
	transform: scale(1);
    }
    20%, 60% {
	transform: scale(1.5);
    }
}
.atom {
    animation: atom 1000ms infinite;
}


/* Input cells */
.input code, .input pre {
    background-color: #3333aa11;
}

/* Output cells*/
.output pre {
    background-color: #ececec80;
    white-space: normal;
}

